<?xml version="1.0"?>
<configuration>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="XmppStream.xml"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
